@use 'partials/vars';
@use 'partials/mixins';

:root {
  --move-content: 0;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

body {
  color: vars.$base-color;
  background: vars.$bg-color;
  font: 100% vars.$font-stack;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  hyphens: auto;
  // scroll-behavior: smooth;

  .scroll-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow-x: scroll;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    // scroll-behavior: smooth;
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  article {
    height: 100%;
    flex: 0 0 100%;
    scroll-snap-align: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    transition: all 1.5s ease-in-out;
  }

  article:nth-child(2n) {
    background: vars.$grey-color;
  }

  article:nth-child(3n) {
    background: vars.$bg-color;
  }

  section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
  }

  h1 {
    // Mixin test
    font-size: 2.5rem;
    color: vars.$white-color;
    background: vars.$green-color;
    @include mixins.flexible();
    @include mixins.defaultBorder();
  }

  h2 {
    font: 100% vars.$roboto-slab-font-stack;
    font-size: 1.8rem;
    color: vars.$orange-color;
    margin: 0 0 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  a,
  p,
  li {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    padding: 0;
    margin: 0;
  }
}

.decades {
  padding: 0.5rem;
}

.decade-selector {
  position: sticky;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 5;

  .decade-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: calc(1rem + 0.25vw);
  }

  .decade-selector p {
    font-weight: 700;
  }

  .decade-circle {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0.25rem;
    font-family: inherit;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    // Anvendes til (midlertidig animation)

    svg {
      width: 100%;
      height: 100%;
      max-width: 5rem;
    }

    circle.dot,
    circle.head {
      color: vars.$green-color;
      fill: vars.$base-color;
    }
    text.circle-text {
      fill: vars.$white-color;
      font-weight: 400;
      font-size: 1rem;
    }
  }
}

.computer {
  max-width: 300px;
  transform: translateX(var(--move-content));
}

.computer-btn {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0.25rem;
  font-family: inherit;
  width: 5rem;
  height: 5rem;

  // Anvendes til (midlertidig animation)
  svg {
    width: 100%;
    height: 100%;
  }

  circle.dot,
  circle.head {
    color: vars.$white-color;
    fill: vars.$green-color;
  }
}

.computer-btn {
  --delay: calc(var(--i, 1) * 400ms);
  animation: fadeIn 1500ms var(--delay) forwards;
  opacity: 0;
}

.computer-btn:nth-child(2) {
  --i: 2;
}

.computer-btn:nth-child(3) {
  --i: 3;
}

.computer-btn:nth-child(4) {
  --i: 4;
}

.computer-btn:nth-child(5) {
  --i: 5;
}

.computer-btn:nth-child(6) {
  --i: 6;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

#detail {
  position: fixed;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: 100%;
  width: 100%;
  color: vars.$base-color;
  background: vars.$bg-color;

  .close-btn {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: none;
    position: fixed;
    min-width: initial;
    top: 1rem;
    right: 1rem;
    color: vars.$green-color;
    cursor: pointer;
    padding: 0;
  }

  .bar1,
  .bar2 {
    width: 34px;
    height: 5px;
    background-color: vars.$green-color;
    /*    margin: 4px 0;*/
    transition: 0.4s;
    border-radius: 40%;
  }

  .close-btn:hover .bar1,
  .close-btn:hover .bar2 {
    background-color: vars.$orange-color;
  }

  .bar2 {
    margin-top: 4px;
  }

  /* Rotates the first bar*/
  .active-bars .bar1 {
    transform: rotate(-45deg) translate(-1px, 5px);
  }

  /* Rotates the second bar */
  .active-bars .bar2 {
    transform: rotate(45deg) translate(-1px, -5px);
  }

  .info {
    padding: 1rem;
  }
}

//*------------ Animation ------------*//

// This class is used with the IntersectionObserver
.is-visible .content > * {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.content > * {
  opacity: 0;
  animation-delay: 800ms;
  transform: translate3d(0, 5rem, 0);
  transition: opacity 800ms, transform 800ms cubic-bezier(0.13, 0.07, 0.26, 0.99);
}

.is-visible .content > * {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

//*-----------------------------------*//

/*------ The timeline -----*/

.active .dot {
  fill: var(--selectedColor);
  fill: blue;
}

.dot,
.st0 {
  fill: vars.$green-color;
  stroke: #000;
  stroke-width: 2;
  stroke-miterlimit: 10;
  r: calc(8 + 0.5vw);
}

.dot.active[data-years] {
  fill: aqua;
}

.line {
  stroke-dasharray: 2147.089;
  stroke-dashoffset: 2147.089;
  animation: draw 5s ease-in 1;
  animation-fill-mode: forwards;
  stroke: vars.$base-color;
  fill: none;
  stroke-width: 2.5;
  stroke-miterlimit: 10;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 2147.089;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

// [data-year="one"] {
//   background: #f0c75e;
//   fill: red;
// }

// [data-year="two"] {
//   fill: red;
// }

// [data-year="three"] {
//   fill: red;
// }

// [data-year="four"] {
//   fill: red;
// }

.is-visible.active .dot.picked {
  fill: vars.$selected-color;
  fill: hotpink;
}

.dot.picked {
  fill: vars.$selected-color;
  fill: vars.$orange-color;
  fill: hotpink;
}

.picked {
  fill: vars.$selected-color;
  fill: vars.$orange-color;
  fill: hotpink;
}
